<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Juego Piedra Papel Tijera!</title>

	<link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
	<script language="JavaScript" type="text/javascript" src="../static/js/jquery-3.4.0.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="showEstadisticas#">Estadisticas</a></li>
            <li role="presentation" class="active"><a href="showIndex#">Desconectarse</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Juego Piedra Papel Tijera!</h3>
      </div>

      <div class="jumbotron">
        <h1>Pagina principal</h1>
        <h3 class="text-muted">Selecciona el modo de juego</h3>
        <form class="form-signin">
        <a href="showUnjugador#" class="btn btn-lg btn-primary btn-block" type="button">Un jugador</a>
        <a href="showMultijugador#" class="btn btn-lg btn-primary btn-block" type="button">Multijugador</a>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Paulius Mitka 2019</p>
      </footer>

    </div>

  </body>
</html>
